.logo{
  justify-content: center;
  display: flex;
  position: relative;
  width: 10%;
}

.device-notification--logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  justify-content: center;
}
