
<!-- <section class="section-title">
  <div class="title-principal">Clientes que confian en nosotros</div>
</section> -->

<section class="section-title">
  <div class="grid grid-cols-1 ">
    <img class="caesar animate__animated animate__fadeInUpBig " src="../../../../assets/img/Cesar-web.svg">
  </div>
  <div class="grid-cols-2">
    <h1 class="titulo animate__animated animate__backInLeft">Quienes confian en<span class="typed" id="cadenas-texto">nosotros</span> </h1>
  </div>
</section>
<rame-marquesina class="marquee2"></rame-marquesina>

