  <!-- Container for demo purpose -->
  <div class="container my-24 px-6 mx-auto">

    <!-- Section: Design Block -->
    <section class="mb-32 text-gray-800 text-center">

      <div class="flex justify-center">
        <div class="max-w-[800px]">
          <h2 class="text-5xl md:text-6xl xl:text-7xl font-bold tracking-tight mb-12">
            Are you ready <br />
            <span class="text-blue-600">for an adventure?</span>
          </h2>
          <p class="text-gray-500 text-lg">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima officia consequatur
            adipisci tenetur repudiandae rerum quos.
          </p>
        </div>
      </div>

    </section>
    <!-- Section: Design Block -->

  </div>
  <!-- Container for demo purpose -->
