<!-- Container for demo purpose -->
<div class="container my-24 px-6 mx-auto">

  <!-- Section: Design Block -->
  <section class="mb-32 text-gray-800 text-center md:text-left">
    <div class="grid md:grid-cols-2 gap-6">
      <div class="mb-6 md:mb-0">
        <h2 class="text-3xl font-bold mb-6">
          Trusted by 2,000,000+ <br />
          <u class="">developers and designers</u>
        </h2>
        <p class="text-gray-500 mb-6">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe, quas?
        </p>

        <a
          class="inline-block px-7 py-3 bg-blue-600 text-white font-medium text-sm leading-snug uppercase rounded-full shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out mb-2 md:mr-2"
          href="#!"
          role="button"
          data-mdb-ripple="true"
          data-mdb-ripple-color="light"
          >Pre-order now</a
        >
      </div>

      <div class="mb-6 md:mb-0">
        <div class="grid grid-cols-2 gap-6">
          <div class="mb-12">
            <img
              src="https://mdbootstrap.com/img/Photos/new-templates/landing-page/logo6-1.png"
              class="grayscale px-6"
              alt="Nasa - logo"
            />
          </div>

          <div class="mb-12">
            <img
              src="https://mdbootstrap.com/img/Photos/new-templates/landing-page/logo5-1.png"
              class="grayscale px-6"
              alt="Amazon - logo"
            />
          </div>

          <div class="mb-12">
            <img
              src="https://mdbootstrap.com/img/Photos/new-templates/landing-page/logo3-1.png"
              class="grayscale px-6"
              alt="Nike - logo"
            />
          </div>

          <div class="mb-12">
            <img
              src="https://mdbootstrap.com/img/Photos/new-templates/landing-page/logo4-1.png"
              class="grayscale px-6"
              alt="Ikea - logo"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->

</div>
<!-- Container for demo purpose -->
